pool:
  vmImage: windows-2019

trigger:
  branches:
    include:
      - master
      - stable/*

pr:
  branches:
    include:
      - master
      - stable/*

steps:
  - checkout: self
    clean: true

  - task: gitversion/setup@0
    inputs:
      versionSpec: '5.x'

  - task: gitversion/execute@0
    inputs:
      updateAssemblyInfo: 'False'
      useConfigFile: true
      configFilePath: GitVersion.yml

    displayName: Use GitVersion

  - pwsh: |
      cd $(build.sourcesdirectory)/src
      dotnet msbuild Uno.Roslyn.sln /r /p:Configuration=Release "/p:PackageOutputPath=$(build.artifactstagingdirectory)" "/p:PackageVersion=$(GITVERSION.FullSemVer)" "/p:InformationalVersion=$(GITVERSION.InformationalVersion)"  /detailedsummary
    displayName: Build

  - task: VSTest@2
    inputs:
      testAssemblyVer2: '**\*.tests.dll'

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactType: Container
      ArtifactName: $(Build.DefinitionName)